@import './var';

@media screen and (min-width:320px) and (max-width:359px) and (orientation:portrait) {
    html { font-size: 53.3%; }
}
@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
    html { font-size: 60.0%; }
}
// 以 iphone6 为模板尺寸设计
@media screen and (min-width:375px) and (max-width:383px) and (orientation:portrait) {
    html { font-size: 62.5%; }
}
@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
    html { font-size: 64.0%; }
}
@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
    html { font-size: 66.7%; }
}
@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait){
    html { font-size: 69%; }
}
@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait){
    html { font-size: 72.0%; }
}

@media screen and (min-width:768px) and (max-width:1024px) and (orientation:portrait){
    html { font-size: 128%; }
}

@media screen and (orientation:landscape){
    html { font-size: 10px; }
}


body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
// table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font: inherit;
	font-family: sans-serif;
	// vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    width:100%;
    height:100%;
}

// 非反馈元素不需要选中高光 （ios 会出现）
// *:not(.reaction):not(.reaction-grey) {
//     -webkit-tap-highlight-color: transparent;
// }
// 长按反馈
// 长按反馈
.reaction:active{
    background: rgba(160, 225, 255, .3)!important;
}

.reaction-grey:active{
    background: #ddd !important;
}

// 文字、 图片不可被选中
p, h1, h2, h3, h4, h5, h6, img, button, span, i{
    user-select: none;
}
// 以防有些元素需要选中
.selectable{
    user-select: auto;
}


ol, ul, li {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button{
    appearance: none;
    -webkit-appearance: none;
    border: none;
    outline: none;
    background: transparent;
}

a{
    -webkit-appearance: none;
    text-decoration: none;
    color:$link;
}


.page{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    .content{
        flex:1;
        overflow-x: hidden;
        overflow-y: scroll;
        background:#EFEFEF;
        padding:2rem 0;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}